{% load bootstrap3 %}
{% load staticfiles i18n %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>{% trans "Firefox Profilemaker" %}</title>
    <style>
        body {
           background-color: #eaf3e8;
       }
       .navbar {
           background-color: white;
           border: thin solid black;
       }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{% trans "Firefox Profilemaker" %}</a>
            </div>
            <div>
                <ul class="nav navbar-nav nav-pills">
                    <li class="active"><a href="#start" data-toggle="tab">{% trans "Start" %}</a></li>

                    {% for form in forms %}
                    <li>
                        <a href="#{{ form.id }}" data-toggle="tab" style="{% if form.is_valid %}font-weight: bold{% endif %}">{% if form.is_valid %}{% bootstrap_icon "star" %}{% else %}{% bootstrap_icon "star-empty" %}{% endif %} {{ form.name }}</a>
                    </li>
                    {% endfor %}
                    <li><a href="#finish" data-toggle="tab" style="{% if finished %}font-weight: bold{% endif %}">{% if finished %}{% bootstrap_icon "star" %} {% endif %}{% trans "Finish" %}</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% bootstrap_messages %}

        <div class="tab-content">
            <div id="start" class="tab-pane fade in active">
                <h1>{% trans "Firefox Profilemaker" %}</h1>
                {% blocktrans %}
                Welcome to the Firefox Profilemaker!
                <p />
                This tool will help you to create a Firefox profile with the defaults you like.
                <p />
                You select which features you want to enable and disable and in the end
                you get a download link for a zip-file with your profile template.
                You can for example disable some functions, which send data to Mozilla and Google,
                or disable several annoying Firefox functions like Mozilla Hello or the Pocket integration.
                <p />
                Each Setting has a short explanation and for the non obvious settings links to resources
                describing the feature and the possible problems with it.
                <p />
                {% endblocktrans %}
                <form action="#{{ form.id }}" method="post" class="form">
                    <select id="profile" name="profile">
                        {% for profile in profiles %}
                        <option value="{{ profile.0 }}" {% if profile.0 == active_profile %}selected{% endif %}> {{ profile.1 }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">
                        {% trans "Start" %}
                    </button>
                    {% csrf_token %}
                </form>
                <h2>Help us</h2>
                We do not need money, but we can use your help to improve the site.
                <ul>
                        <li><a href="https://github.com/allo-/firefox-profilemaker/wiki/Contribute-Settings">Contribute more settings</a></li>
                        <li><a href="https://github.com/allo-/firefox-profilemaker/issues/89">Help to improve the website design</a></li>
                        <li><a href="https://github.com/allo-/firefox-profilemaker/issues/75">Help to improve the instructions</a></li>
                        <li><a href="https://github.com/allo-/firefox-profilemaker/issues/88">Translate the website in your language</a></li>
                        <li><a href="https://github.com/allo-/firefox-profilemaker">Join the project</a> and help to code the profile generator</li>
                </ul>
                <h2>Community</h2>
                Do you need support or want to discuss if a setting is useful for you or suggest changes which do not fit into the bugtracker?
                <br />
                Visit our Subreddit at <a href="https://www.reddit.com/r/ffprofile/">reddit.com/r/ffprofile</a>.
            </div>
        {% for form in forms %}
            <div id="{{ form.id }}" class="tab-pane fade">
                <h1>{{ form.name }}</h1>
                <form action="#{{ form.id }}" method="post" class="form">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  {% buttons %}
                    <button type="submit" class="btn">
                      {% bootstrap_icon "star" %} save
                    </button>
                    <button type="submit" class="btn btn-primary" name="next" value="{{ form.next }}">
                      {% bootstrap_icon "ok" %} {% trans "save &amp; next" %}
                    </button>
                  {% endbuttons %}
                </form>
            </div>
            {% endfor %}
            <div id="finish" class="tab-pane fade">
                <h1>{% trans "Download" %}</h1>
                {% if not finished %}
                    <div class="alert alert-danger" role="alert">
                        {% trans 'You did not finish all questions. You still can download the profile, but there are more options available.' %}
                    </div>
                    <p />
                {% endif %}

                <a href="{% url 'profilemaker.views.download' 'profile.zip' %}" class="btn btn-primary" style="margin-bottom: 1ex">{% bootstrap_icon "download" %} {% trans "Download profile.zip" %}</a>
                <br />
                <a href="{% url 'profilemaker.views.download' 'prefs.js' %}" class="btn btn-primary" style="margin-bottom: 1ex">{% bootstrap_icon "download" %} {% trans "Download only prefs.js" %}</a>
                <a href="{% url 'profilemaker.views.download' 'prefs.js.txt' %}" class="btn btn-primary" style="margin-bottom: 1ex">{% bootstrap_icon "download" %} {% trans "Open prefs.js in the browser" %}</a>
                <br />
                <a href="{% url 'profilemaker.views.download' 'addons.zip' %}" class="btn btn-primary" style="margin-bottom: 1ex">{% bootstrap_icon "download" %} {% trans "Download only addons.zip" %}</a>
                <br />
                {% trans "When you download only the addons.zip, you need to copy the <code>user_pref(\"extensions.autoDisableScopes\", 14);</code> line into your prefs.js, else firefox won't install the addons." %}


                <form action="#" method="post" class="form">
                  {% csrf_token %}
                  {% buttons %}
                    <button type="submit" class="btn btn-primary" name="reset" value="reset">
                      {% bootstrap_icon "trash" %} {% trans "Start over again" %}
                    </button>
                  {% endbuttons %}
                </form>

                <h3>{% trans "Installing" %}</h3>
                <ul>
                    <li>{% trans "Optional: add a new profile to keep the old one" %}</li>
                    <ul>
                        <li>{% trans "Run" %} <code>firefox -no-remote -ProfileManager</code></li>
                        <li>{% trans "Create a new profile" %}</li>
                    </ul>
                    {% blocktrans %}
					<li>Type <code>about:support</code> into the url bar.</li>
					<li>Press the open profile folder button.</li>
                    <li>Quit Firefox.</li>
                    <li>Delete everything from the new profile (you will lose all existing data from the profile).</li>
                    <li>unzip the <code>profile.zip</code> file into the folder.</li>
                    <li>Start Firefox again. If you made a new profile, you can use it with <code>firefox -no-remote -P profilename</code>.</li>
                    <li>Open the addon manager and update the extensions.</li>
                    {% endblocktrans %}
                </ul>
                <h3>{% trans "Preview" %}</h3>

                prefs.js:
                <pre>{{ prefs_js }}</pre>

                {% if filenames %}
                    {% trans "Files:" %}
                    <pre>{% for filename in filenames %}{{ filename }}<br />{% endfor %}</pre>
                {% endif %}
            </div>
        </div>
    </div>
    {% bootstrap_javascript %}
    <script>
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-pills a[href=#'+url.split('#')[1]+']').tab('show');
        }
        // Change hash for page-reload
        $('.nav-pills a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        });
    </script>
    <a href="https://github.com/allo-/firefox-profilemaker"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{% static 'forkme_right_green_007200.png' %}" alt="Fork me on GitHub" /></a>
</body>
</html>
